<% layout("layout/boilerplate") %>
    <link rel="stylesheet" href="/stylesheets/home.css">



    <div class="container">

        <h1>Hello Notes</h1>

        <%if(currentUser){%>
            <a href="/user/<%=currentUser.id%>"><button class="pinkBtn">Notes</button></a>
            <a href="/logout"><button class="whiteBtn">Log out</button></a>
            <%}%>

                <%if(!currentUser){%>

                    <button class="loginOpen pinkBtn" id="loginOpen">Login</button></a>
                    <button class="whiteBtn" id="registerOpen">Register</button></a>
                    <%}%>

                        <div id="loginModalContainer">
                            <div id="loginModal">
                                <form action="/login" method="POST">
                                    <input class="input" type="text" name="username" id="usernameLogin"
                                        placeholder="Username" minlength="5" maxlength="14" required>
                                    <input class="input" type="password" name="password" id="passwordLogin"
                                        placeholder="Password" minlength="5" maxlength="14" required>
                                    <br>
                                    <button class="pinkBtn btnSmall" id="loginBtn">Login</button>
                                    <button class="whiteBtn btnSmall" id="loginClose">Cancel</button>
                                </form>
                            </div>
                        </div>

                        <div id="registerModalContainer">
                            <div id="registerModal">
                                <form action="/register" method="POST">
                                    <input type="text" name="username" id="usernameRegister" placeholder="Username"
                                        minlength="5" maxlength="14" required>
                                    <br>
                                    <input type="email" name="email" id="emailRegister" placeholder="Email"
                                        minlength="8" maxlength="14" required>
                                    <br>
                                    <input type="password" name="password" id="passwordRegister" placeholder="Password"
                                        minlength="5" maxlength="14" required>
                                    <br>
                                    <button class="pinkBtn btnSmall" id="registerBtn">Submit</button>
                                    <button class="whiteBtn btnSmall" id="registerClose">Cancel</button>
                                </form>

                            </div>
                        </div>

    </div>


    <script src="/scripts/homeModals.js"></script>