<link rel="stylesheet" href="/stylesheets/userPage.css">
<div class="container">
    <div class="box">
        <ul>
            <%if(note.length){%>
                <%for(let {text,date} of note){%>
                    <li class="note">
                        <%=text%>
                            <%date%>
                    </li>
                    <%}%>
                        <%}%>
        </ul>
    </div>
    <div>
        <%if(!note.length){%>
            <img src="https://res.cloudinary.com/dqggp5pir/image/upload/v1701725759/Note%20app/Hello_Gif_anamyx.gif"
                alt="">


            <%}%>
    </div>

</div>

<button id="openModal">Modal</button>


<div id="modalContainer">

    <div id="noteModal">

        <form action="/user" method="POST">

            <textarea name="text" id="text" placeholder="New Note" cols="30" rows="10" maxlength="18"></textarea>
            <input type="datetime-local" name="date" id="date">
            <br>
            <button id="submitModal">Submit</button>
            <button id="closeModal">Cancel</button>
        </form>


    </div>
</div>

<script src="/scripts/modal.js"></script>