#flashSuccess {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 30px;
    width: 100vh;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(85, 241, 85, 0.600);
    position: sticky;
    opacity: 1;
    font-size: 20px;
    font-family: 'Teko', sans-serif;
}

#flashSuccess.show {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#flashAlert {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 30px;
    width: 100vh;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(250, 27, 11, 0.541);
    position: sticky;
    opacity: 1;
    font-size: 20px;
    box-shadow: 0;
    font-family: 'Teko', sans-serif;
}

#flashAlert.show {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#closeSuccess {
    padding: 0;
    background-color: rgba(255, 0, 0, 0);
    border: 0;
}

#closeAlert {
    padding: 0;
    background-color: rgba(255, 0, 0, 0);
    border: 0;
}