.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 780px;
    max-width: 1010px;
    min-width: 425px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px black;
    background: linear-gradient(#ffd4e9ea, #ffb5daea);
    padding: 10px;
    margin: 50px;
}

.headerMain {
    display: inline-flex;
    justify-content: space-between;
    padding: 4px;
    border-radius: 5px;
    background: linear-gradient(rgb(68, 4, 121), #af055aea);


}

h1 {
    color: rgba(255, 255, 255, 0.795);
    font-size: 50px;
    font-family: 'Beau Rivage', cursive;
    text-shadow: 5px 5px 5px #aaaaaac5;
    padding-left: 6px;
}

.header2 {
    display: flex;
    justify-content: end;


}

h3 {
    font-size: 30px;
    font-family: 'Beau Rivage', cursive;
}

#userPageImg {
    height: 250px;
    width: 250px;

}

#notUserPageImg {
    height: 250px;
    width: 250px;

}

#openNoteModal2 {
    font-size: 20px;
    font-family: 'Teko', sans-serif;
}

#openSettingsModal {
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Teko', sans-serif;
}

#settingsModal {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(211, 4, 142), #f88ac1ea);
    text-align: center;
    position: absolute;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 4px;
    margin: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

#settingsModal.show {
    opacity: 1;
    pointer-events: auto;
}

.settingsBtn {
    width: 120px;
    height: 30px;
    margin: 2px;
    font-size: 18px;
    font-family: 'Teko', sans-serif;
}



button.pinkBtn {
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px black;
    background-color: #dd1f6e;

}

button.whiteBtn {
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px black;
    background-color: #ffffff;

}

button.pinkBtn:hover {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    transition: color .25s, background-color .25s;
    box-shadow: 0 4px 8px black;
    cursor: pointer;
}

button.whiteBtn:hover {
    color: white;
    background-color: #dd1f6e;
    transition: color .25s, background-color .25s;
    box-shadow: 0 4px 8px black;
    cursor: pointer;
}

.box {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
}

.box2 {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
}

.note {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border-width: 10px;
    border: 0;
    box-shadow: 0px 3px 7px;
    border-radius: 5px;
    padding: 6px;
    margin: 4px;
    width: 300px;
    text-align: start;
    font-family: 'Teko', sans-serif;
    font-size: 18px;


}

.innerNote {
    display: inline-flex;
    justify-content: space-between;

}

.innerNote2 {
    display: inline-flex;
    font-size: 14px;


}

.editBtn {

    width: 27px;
    height: 27px;
    padding: 0;
    border: 0;
    border-radius: 5px;
}

.editBtn:hover {
    color: rgb(255, 255, 255);
    background-color: #01c722;
    transition: color .25s, background-color .25s;
    border-radius: 5px;
    cursor: pointer;
}

.deleteBtn {

    width: 27px;
    height: 27px;
    padding: 0;
    border: 0;
    border-radius: 5px;
}

.deleteBtn:hover {
    color: rgb(255, 255, 255);
    background-color: #c70101;
    transition: color .25s, background-color .25s;
    border-radius: 5px;
    cursor: pointer;
}

.redNote {
    background-color: rgb(180, 74, 74);

}

.blueNote {
    background-color: rgb(70, 84, 206);

}

.greenNote {
    background-color: rgb(90, 177, 102);

}

.yellowNote {
    background-color: rgb(233, 216, 139);

}

.purpleNote {
    background-color: rgb(130, 67, 202);
}

#noteModalCont {
    display: flex;
    height: 100;

    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    transition: height 0.3s ease;
}


#noteModal {
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-grow: 1;
    text-align: center;
    height: 100;
    padding: 10px;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: height 0.3s, padding 0.3s ease;

}

#submitNoteModal {
    display: inline;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Teko', sans-serif;
    margin-top: 3px;
}

#closeNoteModal {
    display: inline;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Teko', sans-serif;
}

#noteModalCont2 {
    display: flex;
    height: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    transition: height 0.3s ease;
}

#noteModalCont2.show {

    height: 100px;

}


#noteModal2 {
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-grow: 1;
    text-align: center;
    height: 0;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: height 0.3s, padding 0.3s ease;

}

#noteModal2.show {

    height: 100px;
    padding: 20px;

}

#submitNoteModal2 {
    display: inline;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Teko', sans-serif;
    margin-top: 3px;
}

#closeNoteModal2 {
    display: inline;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Teko', sans-serif;
}

#addRedNote {
    accent-color: rgb(180, 74, 74);
}

#addBlueNote {
    accent-color: rgb(70, 84, 206);
}

#addGreenNote {
    accent-color: rgb(90, 177, 102);
}

#addYellowNote {
    accent-color: rgb(233, 216, 139);
}

#addPurpleNote {
    accent-color: rgb(130, 67, 202);
}

#text {
    display: inline;
    border-radius: 5px;
    width: 180px;
    height: 30px;
    resize: none;
    font-size: 15px;
    font-family: 'Teko', sans-serif;

}

#TimeStamp {
    font-size: 13px;
    margin-top: 2px;
    color: rgb(59, 59, 59);
    font-family: 'Teko', sans-serif;

}

label {
    font-family: 'Teko', sans-serif;
}